* {
    box-sizing: border-box;
}

.box {
    font-size: 16px;
    width: 20%;
    padding: 30px;
    float: left;
    border: 10px solid orange;
}


@media (max-width: 992px) { .box
{
    width: 50%;
    background-color: red;
    color: white;
    border: 5px solid green;
}
}