


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.App.header {
  display: flex;
  background: black;
  height: 30vh;
  color: white;
  justify-content: center;
  align-items: center;

}

.App-header h1 {
  font-size: 2rem;
}
