body {
  color: green;
  font-size: 25px;
  background-color: gray; }

nav {
  padding: 15px; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      color: #aaa;
      font-family: sans-serif;
      font-size: 15px; }
