.kwadrat {
    background-color: grey;
    width: 300px;
    height: 600px;
    position: fixed;
    border: 1px solid white;
    
}


h1 {
    text-align: center;
    color: white;
  
    
    
}



.maly {
    background-color: orange;
    height: 100px;
    width: 100px;
    display: block;
    padding: 1px;
    border: solid grey 5px;
    margin: 20px;
}

