.flex-item {
    color: greenyellow;
    font-family: 'lato', 'arial';
    padding: 10px;
    margin: 3px;
    background-color: blue
}

.flex-item:nth-last-of-type(odd) {
    background-color: green
}

.container {
    border: 2px red;
    display: flex; 
}