ul#errors li {
    color: red;
}

fieldset {
    border: none;
}

#pizza-order {

    width: 80%;
    margin: 20px auto
}

input {
    display: block;
    border: none;
    border-bottom: 1px solid blue;
    width: auto;
    padding: 5px;


}

#button {
    border: 1px solid blue
}