.flex-item {
    color: greenyellow;
    font-family: 'lato', 'arial';
    padding: 10px;
    margin: 3px;
    background-color: blue;
    flex-basis: 20%;
    max-width: 300px;
   

}

.flex-item:nth-last-of-type(odd) {
    background-color: green;
    overflow: hidden;

}
   


.container {

    border: 2px dotted red;
    display: flex;
 flex-direction: row;
     flex-wrap: wrap; 
  
}

.ordered-item {
    order: 4;
}