.square { 
    width:  200px;
    height: 200px;

}

#c1 {
    
    background-color: red;
    position: relative;
}

#c2 #c3 #c4 #c5 #c6 #c7 #c8 #c9 {
    position: absolute;
}

#c2 {
    background-color: blue
}

#c3 {
    background-color: green; 
}


#c4 { 
    background-color: pink;

}